# 12/26 - @njegosrailic: I reviewed the codeowners file and confirmed all the teams are appropriate.

# CODEOWNERS Best Practices
# 1. Per Github docs: "Order is important; the last matching pattern takes the most precedence."
# Please define less specific codeowner paths before more specific codeowner paths in order for the more specific rule to have priority
# The following doc explains the CODEOWNERS file syntax:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# global ownership
* @smartcontractkit/bix-build @smartcontractkit/bix-framework @smartcontractkit/data-feeds

# offchain code ownership
/pkg/solana @smartcontractkit/bix-framework @smartcontractkit/bix-build @smartcontractkit/data-feeds

# e2e test ownership
/integration-tests @smartcontractkit/bix-build @smartcontractkit/bix-framework @smartcontractkit/data-feeds

# contracts
/contracts @smartcontractkit/data-feeds @smartcontractkit/bix-framework @smartcontractkit/bix-build

# gauntlet ownership
/gauntlet @smartcontractkit/data-feeds

# monitoring ownership
/pkg/monitoring @smartcontractkit/realtime @smartcontractkit/data-feeds

# LOOP Plugin commands
/pkg/solana/cmd/chainlink-solana @smartcontractkit/foundations @smartcontractkit/data-feeds @smartcontractkit/bix-build

# CI/CD
/.github/** @smartcontractkit/data-feeds @smartcontractkit/bix-build @smartcontractkit/bix-framework

# SDK for feeds
/ts @smartcontractkit/data-feeds
