.direnv
.DS_Store
**/*.rs.bk
.idea

# ignore relay build
pkg/bin

v1/target

contracts/target
contracts/programs/*/target
contracts/.anchor
# keypair used by anchor/anchor test
contracts/id.json
# ignore all except shared localnet keys
contracts/artifacts/*
!contracts/artifacts/localnet/

# TS
node_modules
**/tsconfig.tsbuildinfo
dist
.env
flow-report.json
report.json
bin
# Gauntlet artifacts
gauntlet/packages/gauntlet-solana-contracts/artifacts/programId
gauntlet/packages/gauntlet-solana-contracts/artifacts/bin
# Multisig local env
gauntlet/packages/gauntlet-serum-multisig/networks/.env.local
