[workspace]
resolver = "2"
members = [
  "programs/*",
  "crates/*",
]

[profile.dev]
overflow-checks = true

[profile.release]
overflow-checks = true
lto = "fat"
codegen-units = 1
# -Znew-llvm-pass-manager

[profile.test]
overflow-checks = true
