[package]
name = "store"
version = "0.1.0"
description = "Created with Anchor"
edition = "2018"

[lib]
crate-type = ["cdylib", "lib"]
name = "store"

[features]
no-entrypoint = []
no-idl = []
cpi = ["no-entrypoint"]
mainnet = ["access-controller/mainnet"]
testnet = ["access-controller/testnet"]
devnet = ["access-controller/devnet"]
localnet = ["access-controller/localnet"]
default = ["localnet"]

[dependencies]
anchor-lang = "0.20.1"
access-controller = { version = "0.1.0", path = "../access-controller", default-features = false, features = ["cpi"] }
bytemuck = "1.7.2"
arrayvec = { version = "0.1.0", path = "../../crates/arrayvec" }
