name: Release Artifacts
on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+" # Push events to matching v*, i.e. v1.0, v20.15.10
      - "v[0-9]+.[0-9]+.[0-9]+-rc*" # Push events to matching v*, i.e. v1.0-rc1, v20.15.10-rc5

jobs:
  release-artifacts:
    runs-on: ubuntu-latest
    container:
      image: projectserum/build:v0.18.2
      env:
        RUSTUP_HOME: "/root/.rustup"
    steps:
      - uses: actions/checkout@v2
      - name: Build Artifacts
        run: anchor build
      - name: Generate archive
        run: |
          tar cfvz artifacts.tar.gz target/deploy/*.so target/idl/*
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: artifacts.tar.gz
