name: e2e_smoke_tests
on: 
  workflow_call:
    inputs:
      repo_name:
        required: true
        description: The name of the github repository
        default: ${{ github.repository }}
        type: string
      ref:
        required: true
        description: The git ref to use
        default: ${{ github.sha }}
        type: string
      cl_repo:
        required: true
        description: The chainlik ecr repository to use
        default: public.ecr.aws/z0b1w9r9/chainlink
        type: string
      cl_image:
        required: true
        description: The chainlink image to use
        default: develop
        type: string
    secrets:
      QA_AWS_ACCESS_KEY_ID:
        required: true
        description: The AWS access key id to use
      QA_AWS_SECRET_KEY:
        required: true
        description: The AWS secret key to use
      QA_AWS_REGION:
        required: true
        description: The AWS region to use
      QA_AWS_ROLE_TO_ASSUME:
        required: true
        description: The AWS role to assume
      QA_KUBECONFIG:
        required: true
        description: The kubernetes configuation to use

jobs:
  e2e_build_contracts:
    name: E2E Build Contracts
    runs-on: ubuntu-latest
    container:
      image: projectserum/build:v0.22.1
      env:
        RUSTUP_HOME: "/root/.rustup"
        FORCE_COLOR: 1
    steps:
      - uses: actions/checkout@f25a3a9f25bd5f4c5d77189cab02ff357b5aedeb # v2.4.1
        with:
          repository: ${{ inputs.repo_name }}
          ref: ${{ inputs.ref }}
      - name: Build Test Contracts
        uses: ./.github/actions/build_test_contracts
  e2e_run_smoke_tests:
    name: E2E Run Smoke Tests
    runs-on: ubuntu-latest
    needs: e2e_build_contracts
    steps:
      - name: Checkout the repo
        uses: actions/checkout@f25a3a9f25bd5f4c5d77189cab02ff357b5aedeb # v2.4.1
        with:
          repository: ${{ inputs.repo_name }}
          ref: ${{ inputs.ref }}
      - name: Run Tests
        uses: smartcontractkit/ctf-ci-e2e-action@v1.0.0
        with:
          test_command_to_run: make test_smoke
          cl_repo: ${{ inputs.cl_repo }}
          cl_image_tag: ${{ inputs.cl_image }}
          download_artifacts_path: contracts/target/deploy
          publish_report_paths: "./tests-smoke-report.xml"
          publish_check_name: Smoke Test Results
          QA_AWS_ACCESS_KEY_ID: ${{ secrets.QA_AWS_ACCESS_KEY_ID }}
          QA_AWS_SECRET_KEY: ${{ secrets.QA_AWS_SECRET_KEY }}
          QA_AWS_REGION: ${{ secrets.QA_AWS_REGION }}
          QA_AWS_ROLE_TO_ASSUME: ${{ secrets.QA_AWS_ROLE_TO_ASSUME }}
          QA_KUBECONFIG: ${{ secrets.QA_KUBECONFIG }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
